<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Angular Bootstrap</title>
		<script type="text/javascript" src="js/lib/angular.js"></script>
		<script type="text/javascript" src="js/lib/jquery.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="myController">
		<div class="container">
			<div class="panel">
				<div class="form-horizontal">
					<div class="form-group">
						
						<label class="control-label pull-left">Digite a quantidade de número: </label>
						<div class="col-md-2">
							<input type="number" name="intervalo" class="form-control" ng-model="n"/>		
						</div>
						<label class="control-label pull-left">Resultado: </label>
						<div class="col-md-4">
							<span>{{resultado}}</span>
						</div>
						
					</div>
					<div class="form-group">
						
						<div class="col-md-2">
							<button class="btn btn-primary" ng-click="getFib(n)">Fibonnaci</button>
						</div>
						
						
					</div>
				</div>
				
				
			</div>
		</div>
	</body>
</html>