<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Angular Bootstrap</title>
		<script type="text/javascript" src="js/lib/angular.js"></script>
		<script type="text/javascript" src="js/lib/jquery.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="myController">
		<div class="container">
			
		</div>
	</body>
</html>